@import './variables';

@mixin panel {
  height: $TOOLBAR_HEIGHT;
  background: $WHITE;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 1px 2px gray;
  padding: 5px 10px;

  &__btn {
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  &__input {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  &__btn:hover, &__input:hover {
    scale: 1.3;
  }
}