@import 'src/styles/variables';

.container {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid $BLUE_10;
  border-radius: 4px;
  padding-right: 5px;
}

.colorPicker {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid $BLUE_30;
}

input[type='color'] {
  width: 100%;
  height: 100%;
  transform: scale(3);
  pointer-events: none;
}