@import './styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: 'Verdana', Sans-serif;
  font-size: 12px;
  min-height: 100vh;
  background: $MAIN_BACKGROUND;
}